## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.blg
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Listings and other packages:
*.lol
*.nav
*.snm
*.vrb

## Intermediate documents:
*.pdf
*.dvi
*.ps

## Backup files:
*~
*.bak
*.swp
*.tmp
